{{> header}}
<div class="container mt-4">
  <h1 class="text-center">About Us</h1>
  <div class="row my-4">
    <div class="col-md-12">
      <div class="card bg-light rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h3>What We Offer</h3>
              <p>Our programme offers users a complete platform to enhance their general well-being in a number of areas, including diet, exercise, and a healthy lifestyle. In order to help you on your path to a better and happier life, we provide personalised goal setting, monitoring, and tools.</p>
            </div>
            <div class="col-md-6">
              <img src="/images/Nutrition.jpg" alt="Nutrition" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-12">
      <div class="card bg-light rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h3>Our Impact</h3>
              <p>It has been demonstrated that goal-setting and accomplishment tracking promote motivation, improve self-esteem, and support people in keeping their focus on their goals. Our software attempts to speed up this procedure and provide people the tools they need to transform their life for the better.</p>
            </div>
            <div class="col-md-6">
              <img src="/images/Fitness.jpg" alt="Fitness" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-12">
      <div class="card bg-light rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h3>The Team</h3>
              <p>Saurav Kharal is an extraordinary individual who created the Wellbeing App. The combination of Saurav's technological prowess and enthusiasm for health and wellbeing has made this application a useful resource for people looking to enhance their well-being.</p>
            </div>
            <div class="col-md-6">
              <img src="/images/Lifestyle.jpg" alt="Lifestyle" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
