{{> header}}
<div class="container mt-4">
  <h1 class="text-center">About Us</h1>
  <div class="row my-4">
    <div class="col-md-12">
      <div class="card bg-light rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h3>What We Offer</h3>
              <p>Our application provides a comprehensive platform for users to improve their overall well-being in various aspects such as nutrition, fitness, and a healthy lifestyle. We offer personalized goal setting, tracking, and resources to support you on your journey to a healthier and happier life.</p>
            </div>
            <div class="col-md-6">
              <img src="/images/Nutrition.jpg" alt="Nutrition" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-12">
      <div class="card bg-light rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h3>Our Impact</h3>
              <p>Goal setting and achievement monitoring have been proven to increase motivation, boost self-esteem, and help individuals maintain focus on their objectives. Our application aims to facilitate this process, empowering users to make positive and lasting changes in their lives.</p>
            </div>
            <div class="col-md-6">
              <img src="/images/Fitness.jpg" alt="Fitness" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-12">
      <div class="card bg-light rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h3>The Team</h3>
              <p>The Wellbeing App was developed by an amazing person named Saurav Kharal. Saurav's passion for health and wellness, along with his technical expertise, have made this application a valuable tool for users seeking to improve their well-being.</p>
            </div>
            <div class="col-md-6">
              <img src="/images/Lifestyle.jpg" alt="Lifestyle" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}
