{{> header}}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <h1>Welcome to Wellbeing App</h1>
      <p>Better Me, the best way to beat your life, one goal at a time.</p>
      <p>Because it serves as the cornerstone for a happy and successful existence, our health is significant. We can enjoy our interests, uphold healthy relationships, and accomplish our personal and professional goals when we are in good health. We invest in a brighter future for ourselves and everyone around us by putting our well-being first.</p>
      <br>
      {{^isAuthenticated}}
      <p><a href="/register">Register</a> or <a href="/login">Login</a> to get started.</p>
      {{/isAuthenticated}}
      {{#isAuthenticated}}
      <a href="/dashboard" class="btn btn-primary">Go to Dashboard</a>
      {{/isAuthenticated}}
    </div>
    <div class="col-md-6">
      <img src="/images/Fitness.jpg" alt="Fitness" class="img-fluid">
    </div>
  </div>
</div>
{{> footer}}
